# CHANGELOG

このプロジェクトの注目すべき変更を記録します。

[Keep a Changelog](https://keepachangelog.com/ja/1.0.0/) に基づき、[Semantic Versioning](https://semver.org/lang/ja/) に準拠します。

## Tagged Releases

<!-- {{ repo_owner }}/{{ repo_name }} の release links は最初の release 時に生成されます。 -->

## [Unreleased]
